.card {
  background-color: #ffc52c;
  color: black;
  border-radius: 5px;
  padding: 2px 10px;
  height: 110px;

  .movie-card {
    width: 20vw;
  }

  h3,
  p {
    line-height: 1em;
    margin-bottom: 0;
  }
}
